<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...

            <div class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </div>
        </h4>
      </div>
      
      <ul class="list-group">
      <li class="list-group-item">
      <form action= "/create_bookmark" method= "post">
           <div class="form-group">
             <label for="venue_id">
               Choose a new venue...
             </label>
                <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
           </div>
        <input type="hidden" name="dish_id" value="<%= @dish.id %>">
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
        <input type="hidden" name="notes" value="<%=nil%>">
        
        <button class="btn btn-primary btn">
          <i class="fa fa-heart"></i>
          </button>
         </form>
         <small class="float-right text-muted">
            right now
          </small>
         </li>
         
         <% @dish.specialists.each do |venue| %>
         <li class="list-group-item">
         <a href="/venues/<%= venue.id %>">
         <%= venue.name %>
         </a>
          
          <small class="float-right text-muted">
          <%= time_ago_in_words(venue.created_at) %> ago
                
          <div class="btn-group btn-group-xs float-right">
            
            <a href="/bookmarks/<%= Bookmark.where(dish_id: @dish.id, venue_id: venue.id, user_id: current_user.id).first.id %>/edit">
              <i class="fa fa-fw fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= Bookmark.where(dish_id: @dish.id, venue_id: venue.id, user_id: current_user.id).first.id %>" rel="nofollow">
              <i class="fa fa-fw fa-trash-o"></i>
            </a>
          </div>
          </small>
        </li>
      <% end %>
           

      </ul>
      


