<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...

            <div class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </div>
        </h4>
      </div>
      
      <ul class="list-group">
      <li class="list-group-item">
      <form action= "/create_bookmark" method= "post">
           <div class="form-group">
             <label for="venue_id">
               Choose a new venue...
             </label>
                <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
           </div>
        <input type="hidden" name="dish_id" value="<%= @dish.id %>">
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
        <input type="hidden" name="notes" value="<%=nil%>">
        
        <button class="btn btn-primary btn">
          <i class="fa fa-heart"></i>
          </button>
         </form>
         <small class="float-right text-muted">
            right now
          </small>
         </li>
         
         <% if @dish.bookmarks.where(user_id: current_user.id).count != 0 %>
         
         <% @dish.bookmarks.where(user_id: current_user.id).each do |bookmark| %>
         <li class="list-group-item">
           <a href="/venues/<%= bookmark.venue.id %>">
            <p><%= bookmark.venue.name %>
           </a>
           
           <small class="float-right text-muted">
          <%= time_ago_in_words(bookmark.created_at) %> ago
                
          <div class="btn-group btn-group-xs float-right">
            
            <a href="/bookmarks/<%= bookmark.id %>/edit">
              <i class="fa fa-fw fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" rel="nofollow">
              <i class="fa fa-fw fa-trash-o"></i>
            </a>
          </div>
          </small>
          </li>
         <% end %>
         <% else %>
         <% end %>
         

      </ul>
      
      
     


